<p>Post create</p>

<form action="/places" method="post">
	<input type="text", name="name" value="名前" />
	<input type="text", name="latitude" value="35.6712984" />
	<input type="text", name="longitude" value="139.7358206" />
 	<input type="submit" value="送信"/>
</form>