<p>Post new</p>

<form action="/posts" method="post">
	<input type="text", name="user_id" value="1" />
	<input type="text", name="place_id" value="1" />
	<input type="text", name="latitude" value="35.6712984" />
	<input type="text", name="longitude" value="139.7358206" />
	<input type="text", name="message" value="メッセージ" />
	<input type="text", name="priority" value="2" />
 	<input type="submit" value="送信"/>
</form>